<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>div {text-align: center}</style>
    <meta charset="UTF-8">
    <title>Tweet4Me</title>

</head>
<body style="background-color:powderblue;">
<div>
<h1>Tweet for me </h1>
Hi! My name is Michael Driscoll, and I created a community twitter account. Try to write a viral tweet for me!<br>

    <div class="col d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Enter a Tweet!</h5>
    <p class="card-text"> <form action="/submit" method="POST">
	<input type="text" name="tweet" id = "tweet">
      </p>
      <button type = "submit" class = "btn btn-primary">Submit Tweet</button>
      </form>
  </div>
</div>
        </div>




    <p>
        See the results at <a href = https://twitter.com/snug_and_friend target = "_blank">the official twitter!</a>
    </p>

    <p>
        Note: Feed below will take a bit of time to update, but rest assured that the tweet will post right after submission!
        <a data-width = "50%" data-height = "100%" class="twitter-timeline" href="https://twitter.com/snug_and_friend?ref_src=twsrc%5Etfw">Tweets by snug_and_friend</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </p>
</div>
</body>
</html>