<!DOCTYPE html>
<html lang="en">
<head>
    <style>div {text-align: center}</style>
    <meta charset="UTF-8">
    <title>Tweet4Me</title>

</head>
<body style="background-color:powderblue;">
<div>
<h1>Tweet for me </h1>
Wattup. Write a tweet for me. Pls dont get me banned. Thanks. <br>

Enter Tweet below: <br>


<form action="/submit" method="POST">
	<label> Tweet: </label>
    <input type="text" name="tweet" id = "tweet">
    <input type = "submit">
</form>

    <p>
        See the results at <a href = https://twitter.com/snug_and_friend target = "_blank">the official twitter!</a>
    </p>

    <p>
        Note: Feed below will take a bit of time to update, but rest assured that the tweet will post right after submission!
        <a data-width = "50%" data-height = "100%" class="twitter-timeline" href="https://twitter.com/snug_and_friend?ref_src=twsrc%5Etfw">Tweets by snug_and_friend</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </p>
</div>
</body>
</html>